div.container {
  margin: auto;
  width: 800px;
}

#ace_editor_hibou {
  height: 275px;
  border: 1px solid #DDD;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  margin-top: 5px;
}

#ace_editor_hibou {
  height: 525px;
}

.header {
  text-align: center;
}

.invis {
  display: none;
}

div.hibou_result {
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  margin: auto;
  margin-top: 16px;
  padding: 16px;
  text-align: center;
  width: 50%;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  border-color: #54c3ff;
  border-style: solid;
}
